body {
    background-color: #3f888d;
}

h1 h2 h3 h4 h5 h6 {
    color: white;
}

fieldset {
    margin-right: 60%;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

span.success {
    color: greenyellow;
    font-weight: bold;
}

span.fail {
    color: red;
    font-weight: bold;
}


/* CSS for Main Page */

.headerSection {
    background-image: url(images/general/headerImage.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    height: 500px;
}

.headerSection img {
    width: 100%;
}

.textHeaders {
    position: absolute;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
}

.mainHeader {
    margin: 0 0 20px 0;
    /* font 1 */
    font-family: 'Aleo';
    font-size: 55px;
}

.mainSubHeader {
    margin: 0 0 0 0;
    /* font 2 */
    font-family: 'Alike';
    font-size: 27px;
}

.Meals {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .Meals {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}


/* CSS that should be displayed if width is equal to or less than 800px goes here */

.meals {
    font-family: 'Aleo';
    font-size: 20px;
    max-width: 800px;
    margin: 40px 80px 40px 40px;
    color: white;
    background-color: #808080;
    width: auto;
    height: 700px;
    float: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.text {
    font-family: 'Aleo';
    font-size: 20px;
    max-width: 800px;
    text-align: center;
    margin: 40px 40px 40px 80px;
    width: auto;
    height: 700px;
    background-color: #808080;
    color: white;
    float: right;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.textdivider {
    background-color: white;
    width: 90%;
    margin: 10px auto 10px auto;
    border: solid white 2px;
}

.textreview {
    font-family: 'Alike';
    font-size: 27px;
}

.mealsHeader {
    text-align: center;
}

.slideshow {
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slide {
    text-align: center;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.index {
    visibility: hidden;
    color: #f0f0f0;
    font-size: 12px;
    padding: 8px 12px;
    text-align: center;
}

.prev {
    cursor: pointer;
    position: absolute;
    margin-top: 195px;
    margin-left: -490px;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    margin-top: 200px;
    margin-left: 437px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.171);
}

.carousel {
    text-align: center;
}

.cIndicator {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #c4c4c4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.selected,
.cIndicator:hover {
    background-color: white;
}

.meetSection {
    background-color: #808080;
    color: white;
    margin: 40px 80px 40px 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.staffTable {
    margin-left: auto;
    margin-right: auto;
}

.meetHeader {
    text-align: center;
}

.UserBox {
    border: 3px solid #c4c4c4;
    width: 400px;
    height: 600px;
    background-color: #c4c4c4;
    box-shadow: 0;
    transition: box-shadow 0.1s ease-in-out;
    margin: 10px;
    text-decoration: none;
}

.userLink {
    color: black;
    text-decoration: none;
}

.UserBox:hover {
    box-shadow: 0 5px 15px #030303;
}

.ImageContainer {
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.InfoContainer {
    text-align: center;
}


/* Main Divider class was created by Harry Roberts at https://css-tricks.com/examples/hrs/ */

.maindivider1 {
    overflow: visible;
    /* For IE */
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center;
}

.maindivider1:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #3f888d;
}

.maindivider2 {
    overflow: visible;
    /* For IE */
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center;
}

.maindivider2:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #808080;
}


/* End of CSS for Main Page */


/* CSS for Review Page */

.divcontainer { 
    overflow: hidden; 
}

.mainReviews { 
    width: 25%;
    float: left;
    margin-left: 1%;
    margin-top: 2%;
}

.facebookReviews {
    width: 40%; 
    float: right;
    text-align: center;
    margin-right: 29.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: #808080;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.overallratings {
    color: white;
    font-family: 'Aleo';
    font-size: 25px;
}

.mainReviewTable {
    background-color: #808080;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reviewTable {
    border: 3px solid #c00000;
}

.logoReview {
    float: left;
}

.googleReview, .facebookReview {
    border-bottom: 3px solid #c00000;
    font-family: 'Aleo';
    font-weight: normal;
    font-size: 20px;
}

.checked {
    color: #c00000;
}

.facebookReviewHeader {
    font-family: 'Aleo';
    font-size: 20px;
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.facebookTextdivider {
    background-color: white;
    width: 90%;
    margin-left: 4.75%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid white 2px;
}

.facebookReviewTable {
    align-self: center;
    display: inline-block;
}

.facebookText {
    border: solid blue 1px;
    overflow: hidden;
}


/* End of CSS for Review Page */


/* CSS for About Us Page */

.aboutSection {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

@media (max-width: 1200px) {
    .aboutSection {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
}

.aboutPicture {
    max-width: 700px;
    height: 500px;
    width: auto;
    margin: 40px;
    background-color: #808080;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.abtpic {
    margin: 40px;
    text-align: center;
    font-family: 'Alike';
    font-size: 17px;
}

.aboutText {
    max-width: 700px;
    height: 500px;
    margin: 40px;
    width: auto;
    color: white;
    background-color: #808080;
    font-family: 'Alike';
    font-size: 25px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


/* End of CSS for About Us */


/* CSS for Contact Us Page */

.contactUsHeader {
    text-align: center;
}

.formSection {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.formContainer {
    max-width: 500px;
    width: auto;
    margin: 40px;
    height: 675px;
    color: black;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formHeader {
    background-color: #808080;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    height: 675px;
    width: auto;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.locationInfo {
    display: flex;
    align-items: center;
    max-width: 900px;
    justify-content: center;
    background-color: #808080;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: auto;
    height: 330px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.map {
    background-color: #808080;
    width: 400px;
    color: white;
    margin: 10px;
}

.addr {
    background-color: #808080;
    width: 400px;
    color: white;
    margin: 10px;
    font-family: 'Alike';
    font-size: 15px;
}

.addr a {
    color: white;
}

.contactForm {
    margin: 40px;
}

.error,
.result {
    text-align: center;
    color: black;
}

.bigText {
    font-family: 'Aleo';
    font-size: 30px;
    color: white;
}

.smallText {
    font-family: 'Alike';
    font-size: 20px;
    color: white;
}

.formText {
    font-family: 'Alike';
    font-size: 15px;
    background-color: #f0f0f0;
    width: 100%;
    /*Remove border to make it cleaner and blend in*/
    border: 0;
    /*Will make it fit to the input size*/
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.formText:disabled {
    background-color: #c4c4c4;
}

.formText::placeholder {
    color: #808080;
    font-family: 'Alike';
    font-size: 15px;
}

.formTextArea {
    font-family: 'Alike';
    font-size: 15px;
    background-color: #f0f0f0;
    width: 100%;
    /*Remove border to make it cleaner and blend in*/
    border: 0;
    /*Will make it fit to the input size*/
    padding: 15px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    height: 100px;
}

.formTextArea::placeholder {
    color: #808080;
    font-family: 'Alike';
    font-size: 15px;
}

.submitButton,
.clearButton {
    background-color: #3f888d;
    /*No border is cleaner*/
    border: 0;
    color: white;
    /*Less than 50% to have some margin between the 2 buttons*/
    width: 48%;
    /*Same padding as input fields*/
    padding: 15px;
}

.submitButton:disabled,
.clearButton:disabled {
    background-color: #173133;
}


/*Change opacity on hover*/

.submitButton:hover:enabled,
.clearButton:hover:enabled {
    background-color: #316a6e;
}


/* End of CSS for Contact Us */