#checkOut {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

#mainPage {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

button {
    border-color: black;
    border-radius: 15px;
    width: 30px;
    font-size: 15px
}

img {
    width: 170px;
}

#billing_address,
#paymentContainer,
#howContainer {
    text-align: center;
}

#placeOrder {
    margin: 10px;
    float: right;
    text-align: center;
    background-color: #3f888d;
    /*No border is cleaner*/
    border: 0;
    color: white;
    /*Less than 50% to have some margin between the 2 buttons*/
    width: 48%;
    /*Same padding as input fields*/
    padding: 15px;
}

#orderSummary {
    display: flex;
    padding-top: 50px;
    float: right;
    width: 600px;
    height: 30%;
    background-color: lightgray;
    margin-top: 60px;
    margin-right: 40px;
}

#mainContainer {
    display: flex;
    justify-content: center;
}

#secondContainer {
    display: flex;
    justify-content: center;
}

#thirdContainer {
    display: flex;
    justify-content: center;
}

#client_info,
#paymentContainer,
#howContainer {
    color: #3f888d;
    width: auto;
    max-width: 500px;
    padding: 20px;
    margin: 40px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.smallinput {
    font-family: 'Alike';
    font-size: 15px;
    background-color: #f0f0f0;
    min-width: 100px;
    width: auto;
    /*Remove border to make it cleaner and blend in*/
    border: 0;
    /*Will make it fit to the input size*/
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.smallinput:disabled {
    background-color: #c4c4c4;
}

.smallinput::placeholder {
    color: #808080;
    font-family: 'Alike';
    font-size: 15px;
}

.input {
    font-family: 'Alike';
    font-size: 15px;
    background-color: #f0f0f0;
    min-width: 300px;
    width: auto;
    /*Remove border to make it cleaner and blend in*/
    border: 0;
    /*Will make it fit to the input size*/
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.input:disabled {
    background-color: #c4c4c4;
}

.input::placeholder {
    color: #808080;
    font-family: 'Alike';
    font-size: 15px;
}

.radio {
    font-family: 'Alike';
    font-size: 15px;
    margin: 10px;
}

#mapid {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 60px;
    float: left;
}

#payment {
    width: 40%;
}

label {
    width: 150px;
    display: inline-block
}

#input {
    float: left;
    margin-left: 150px;
    margin-top: 80px;
    width: 600px;
    height: 300px;
    background-color: lightgray;
}

#address_input {
    margin-top: 50px;
    margin-left: 100px;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

#search_button {
    float: right;
    margin-right: 90px;
    background-color: #3f888d;
    /*No border is cleaner*/
    border: 0;
    color: white;
    /*Less than 50% to have some margin between the 2 buttons*/
    width: 48%;
    /*Same padding as input fields*/
    padding: 15px;
}

legend {
    font-size: 30px;
    color: white;
}

body {
    background-color: cadetblue;
}

#emailErrorInfo {
    color: red;
}

#postalCodeErrorInfo {
    color: red;
}

#ccnumErrorInfo {
    color: red;
}

#expMonthErrorInfo {
    color: red;
}

#expYearErrorInfo {
    color: red;
}

#cvvErrorInfo {
    color: red;
}

.cartTable {
    text-align: center;
    margin-left: 50px;
    margin-top: 100px;
    width: 800px;
    background-color: lightgray;
}

th {
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom-style: solid;
    border-bottom-color: cadetblue;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
}

#cartSubTotal {
    text-align: right;
    border-bottom-style: none;
}

#removeBt {
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    background-color: cadetblue;
    color: white;
}

#subTotalVal {
    border-bottom-style: none;
}

.orderSummaryTable {
    float: right;
    text-align: center;
    background-color: lightgray;
    margin-right: 63px;
    margin-top: 50px;
    width: 350px;
}

.orderSummary {
    width: 500px;
    float: right;
    background-color: darkgray;
    margin-top: 50px;
    margin-right: 40px;
}

#distance {
    margin-left: 100px;
}

#deliveryFeeCal {
    margin-left: 100px;
}

#decreaseItemNum,
#increaseItemNum {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    color: white;
    background-color: cadetblue;
}