


#checkOut {
    display:flex;
    justify-content: flex-end;
    width:80%;
    
}

#mainPage {
     display:flex;
    justify-content: flex-end;
    width:80%;
}
button{
    border-color:black;
    border-radius: 15px;
    width:30px;
    font-size: 15px
}
img{
    width: 170px;
}



#billing_address {
    
    width:40%;
}

#placeOrder {
    border-radius: 10%;
    font-size:20px;
    width:200px;
    height:50px; 
    color: white;
    background-color: cadetblue;
    margin-top:15px;
    margin-left:170px;
    margin-bottom: 30px;
   
}


#orderSummary {
    padding-top: 50px;
    float:right;
    width:600px;
    height:30%;
    background-color: lightgray;
    margin-top: 60px;
    margin-right: 40px;
    
}

#client_info {
    margin-top: 50px; 
    margin-left: 40px;
    
}

#fname {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#email {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#adr {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#city {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#state {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#zip {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#cname {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#ccnum {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}

#expmonth {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
    width:15%;
}

#expyear {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
    width:15%;
}

#cvv {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5%;
}



#mapid {
   margin-top: 20px;
    margin-left:40px;
    margin-bottom: 60px;
    float:left;
}

#payment {
    width:40%;
}



label {
    width:150px;
    display:inline-block
}

#input {
    float:left;
    margin-left: 150px;
    margin-top: 80px;
    width:600px;
    background-color: lightgray;
   
}

#address_input {
   margin-top:50px;
    margin-left:100px;
    width:350px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

#search_button {
    width:100px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10%;
    font-size: 20px;
    color:white;
    background-color: cadetblue;
    float:right;
    margin-right: 90px;
}

legend {
    font-size: 30px;
    color:white;
}

body {
    background-color: cadetblue;
}

#emailErrorInfo {
    color:red;
}

#postalCodeErrorInfo {
     color:red;
}

#ccnumErrorInfo {
     color:red;
}

#expMonthErrorInfo {
     color:red;
}

#expYearErrorInfo {
     color:red;
}

#cvvErrorInfo {
     color:red;
}

.cartTable {
    text-align: center;
    margin-left:50px;
    margin-top:100px;
    width:800px;
    background-color: lightgray;
}

th {
    padding-bottom: 8px;
    padding-top:8px;
    border-bottom-style: solid;
    border-bottom-color: cadetblue;
    
}

td {
    padding-top:5px;
    padding-bottom:5px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
}

#cartSubTotal {
    text-align: right;
    border-bottom-style: none;
}

#removeBt {
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    background-color: cadetblue;
    color:white;
    
}

td {
    
}

#subTotalVal {
    border-bottom-style: none;
}

.orderSummaryTable {
    float:right;
    text-align: center;
    background-color: lightgray;
    margin-right:63px;
    margin-top:50px;
    width:350px;
}

.orderSummary {
    width:500px;
    float:right;
    background-color: darkgray;
    margin-top: 50px;
    margin-right: 40px;
}

#distance {
    margin-left:100px;
}

#deliveryFeeCal {
    margin-left:100px;
}

#decreaseItemNum,#increaseItemNum {
    padding-left:5px;
    padding-right:5px;
    border-radius: 50%;
    color:white;
    background-color: cadetblue;
}
