body {
    background-color: grey;
}

span {
    text-decoration: underline; 
    font-family: Verdana; 
    font-size: large; 
    text-align: center;
}

h2 {
    text-align: center; 
    color: yellow;
}

p {
    text-align: center;
}
