/*
    CSS for the main parts of the Catering page (i.e. selection tab, main page build, etc)
*/
body {
    background-color: #3f888d;
}

::-webkit-scrollbar {
    display: none;
  }

div.cateringMenuContainer
{
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    width: 50%;
    min-width: 450px;
    padding-top: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.cateringSlectionContainer
{
    background-color: #f0f0f0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: relative;
    display: none;
    border-radius: 25px;
}

div.cateringCategoriesContainer
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

span.cateringCategory
{
    padding-right: 25px;
}


hr.cateringHr
{
    margin-top: 10px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

/*Css for the inside items*/

hr.cateringItemsHr
{
    margin-top: 10px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

div.MessageDiv
{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    text-align: center;
}

div.dishContainer
{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-right: auto;
    text-align: center;
    row-gap: 20px;
    column-gap: 20px;
}


div.dishItem
{
    flex: 1 0 20%;
    margin: 5px;
    padding: 20px;
    width: 40%;
    text-align: center;
    background-color: #52b1b8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: normal;
}

img.cateringImages
{
    width: 180px;
}

