body {
    background-color: grey;
}

h1 {
    font-family: Verdana; 
    text-decoration: underline;
}

span {
    color: black;
    font-size: large;
    font-weight: bold;
}

sub {
    font-weight: bold;
}

ol {
    font-family: Verdana;
    font-size: medium;
}

ul {
    font-family: Verdana; 
    font-weight: bold;
    font-size: medium;
}

p {
    font-weight: bold;
    font-family: Verdana;
}

li {
    font-weight: normal;
    font-size: medium;
}

.primary {
    font-family: Verdana;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.secondary {
    font-family: Verdana;
    font-size: larger;
    text-decoration: underline;
}

.tertiary {
    font-family: Verdana;
    font-size: large;
}