/*
    CSS for the main parts of the Catering page (i.e. selection tab, main page build, etc)
*/
body {
    background-color: #52b1b8;
}

::-webkit-scrollbar {
    display: none;
  }

div.cateringMenuBackground
{
    background-color: #f0f0f0;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    padding-top: 20px;
    border-radius: 25px;
}

div.cateringSlectionDisplay
{
    background-color: #f0f0f0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: none;
    border-radius: 25px;
}

table.cateringCategoriesTable
{
    margin-left: auto;
    margin-right: auto;
    
}

td.cateringCategory
{
    padding-right: 25px;
}


hr.cateringHr
{
    margin-top: 10px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

/*Css for buffet page*/

div.buffetMessageDiv
{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

div.mainDishContainer
{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: auto;
    text-align: center;
    row-gap: 20px;
}


div.mainDishItem
{
    padding: 20px;
    text-align: center;
    background-color: #808080;
    border-radius: 25px;
    font-size: small;
}

