/*styled*/

body {
    background-color: #6d88a3;
    font-family: 'Aleo';
}

:root {
    --header-color: #3797F8;
    --nav-bg-color: #27313a;
    --nav-hover-bg-color: #0d1013;
}

div.center {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: space-between;
    animation: fadeIn forwards 1s;
}

div.item {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

span{
    color: #344e64;
    font-weight: bold;
    text-decoration: underline;
}

div.item1 {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    background-color: #344e64;
}

h2.info{
    color: lightblue;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-thickness: thick;
}

h1,
h2 {
    color: white;
}

/**Animations**/

@keyframes fadeIn {
    100% {
        opacity: 1
    }
}

#date{
    
    font-family: 'Aleo';
}

#getInfobtn{
    background-color: #3797F8;
    color: white;
    font-weight: bold;
    font-family: 'Aleo';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
}

/**Navbar**/

ul {
    margin: -8px 0 0 -8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    background-color: var(--nav-bg-color);
}

li {
    padding: 15px;
}

li:hover {
    background-color: var(--nav-hover-bg-color);
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

.right {
    display: block;
    position: absolute;
    right: 0;
}


/**Tables **/

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 60%;
    background-color: grey;
    color: white;
}

table td,
th {
    border: solid 1px white;
    padding: 5px;
}

table thead {
    background-color: var(--header-color);
}

input {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Alike';
    font-size: 15px;
    background-color: #f0f0f0;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    height: 20px;
    color: black;
    font-size: medium;
    font-weight: bolder;
}

.delButton {
    border: 1px;
    background-color: red;
    color: white;
    padding: 5px;
    margin-left: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.addbtn {
    text-align: center;
    font-size: 25px;
    width: 30px;
    height: 35px;
    background-color:#3797F8;
    color: white;
    border: none;
}

label{
    font-family: 'Aleo';
    font-weight: bold;
    color: white;
    font-size: large;
}


/**Status**/

.fail {
    color: red;
    font-weight: bolder;
}

.success {
    color: yellowgreen;
    font-weight: bolder;
}