
/* set default height to all pages at 100% to handle shorter pages */
html{
    height: 100%;
}
/*using flex display and column direction, minimum height of body at 100% make footer stick to the bottom of the page  */
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    color: snow; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
    
    }

#tablefooter{
    text-align: center;
    table-layout: fixed;
    width: 100%;
    background-color: grey;
    border: none; 
    border-collapse: collapse;
   
}

#thfooter:last-child{
    border: none;
}

td.footer {
    border-left: 1px snow solid;
    border-right: 1px snow solid;
    word-wrap: break-word;
}

#imgfooter{ padding-left: 2%; padding-right: 2%; }

#message{
    border-right: 1px;
    border-right-color: snow;
    border-right-style: solid;
}

#thfooter{
    color: #52b1b8; 
    text-decoration:underline; 
    text-decoration-color:#52b1b8; 
    font-size: large;
    border-right: 1px;
    border-right-color: snow;
    border-right-style: solid;
   } 

a.footer{color: snow; text-decoration: none;}

#clickable :hover { color:  #52b1b8;} 

#clickable-pics :hover{transform: scale(1.10);}

#span1{color: #52b1b8; font-style: italic; font-weight: bold;}

#span2{color: #52b1b8; 
    font-weight: bolder; 
    font-size: large; 
    text-decoration: underline;
}

span.span3 {
    color:  #52b1b8;
    text-decoration: underline;
}

#span4{
    color: #52b1b8;
    text-decoration: underline;
}