
footer{
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

#tablefooter{
    text-align: center;
    table-layout: fixed;
    padding-top: 0.5%;
    padding-bottom: 1%;
    width: 100%;
    background-color: black;
    border: none; 
    border-collapse: collapse;
}

#thfooter:last-child{
    border: none;
}

td.footer {
    border-left: 1px white solid;
    border-right: 1px white solid;
    word-wrap: break-word;
}

#imgfooter{ padding-left: 2%; padding-right: 2%; }

#message{
    border-right: 1px;
    border-right-color: white;
    border-right-style: solid;
}

#thfooter{color: gray; 
    text-decoration:underline; 
    text-decoration-color: lightgrey; 
    font-size: large;
    border-right: 1px;
    border-right-color: white;
    border-right-style: solid;
   } 

a.footer{color: white; text-decoration: none;}

#clickable :hover { background-color: red;} 

#clickable-pics :hover{transform: scale(1.25);}

#span1{color:crimson; font-style: italic; font-weight: bold;}

#span2{color: grey; 
    font-weight: bolder; 
    font-size: large; 
    text-decoration: underline;
}

span.span3 {
    color: red;
    text-decoration: underline;
}

