body {
    background-color: grey;
}

span {
    font-family: Verdana; 
    text-decoration: underline;
}

ul {
    font-family: Verdana; 
    font-weight: bold;
    font-size: medium;
}

li {
    font-weight: normal;
    font-size: medium;
}

.primary {
    font-family: Verdana;
    font-weight: bold;
    font-size: large;
}